{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" data-test="navigation">
            {% for key,value in departures.items() %}
          <li {% if departure == key %} class ="nav-item active"{% else %} class ="nav-item"{% endif %}>
            <a class="nav-link" href="/departure/{{ key }}" data-test="navlink">{{ value }} </a>
          </li>
            {% endfor %}
        </ul>
      </div>
    </nav>


    <h1 class="display-5 mt-4">Летим из <span data-test="from">{{ from_town[2:] }}</span></h1>
    <p class="mb-4" ><span data-test="tourcount">{{ counter }}</span>, от <span data-test="pricemin">
        {{ (tours.values()|min(attribute="price")).price }}</span> до <span data-test="pricemax">
        {{ (tours.values()|max(attribute="price")).price }}</span> и от <span data-test="nightsmax">
        {{ (tours.values()|min(attribute="nights")).nights }}</span> до <span data-test="nightsmax">
        {{ (tours.values()|max(attribute="nights")).nights }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
        {% for key, value in tours.items() %}
            <div class="col-4" data-test="card">
                <div class="card mb-3" >
                    <img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
                    <div class="card-body">
                        <h5 class="card-title">{{ value.title }}</h5>
                        <p class="card-text">{{ value.description|truncate(94) }}</p>
                        <a href="/tour/{{ key }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}